body {
    font-family: cursive, sans-serif;;
    text-align: center;
    padding: 20px;
    width: 400px;
    height: 400px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background: #74bdcb;
}

p {
    margin-top: 10px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.search-box {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #efe7bc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #ffa384;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

sup {
    font-size: 0.7em;
}

.location {
    display: flex;
    justify-content: center;
    font-size: 24px;
    flex-direction: row;
    font-weight: bold;
}

.location span {
    font-size: 3.0 mm;
}

.location sup {
    height: 1.2em;
    padding: 0.2em 0.6em;
    margin-left: 0.2em;
    border-radius: 30px;
    color: #fff;
    background: #00c3ff;
}

.temp {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    color: #0056b3;
    text-align: center;
}

.temp_feel_like {
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
    font-size: 18px;
    margin-top: 10px;
    color: #1e2432;
    text-align: center;
}
#icon {
    margin-top: 10px;
}

