body {
    height: 400px;
    width: 320px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 0.5s ease-in-out;
    color: white; 
    text-align: center;
    font-family: Arial, sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

p {
    margin: 0; /* Removes space between "Weather App" text and input */
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.search-box {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds space between input and button */
    align-items: center;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #efe7bc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #ffa384;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.temp {
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    color: #ffd700;
    text-align: center;
}

.temp_feel_like {
    font-size: 18px;
    margin-top: 10px;
    color: white;
    text-align: center;
}

#icon {
    margin-top: 10px;
}

#loadingMessage {
    font-size: 14px;
    color: #ffa384;
    text-align: center;
}
